<div class="courses">


    <div class="offcanvas-header ">
        <h2>All Courses</h2>

    </div>

    <hr class="course-line">

</div>

<div class="containersa">

    <ng-container *ngFor="let course of data">
        <div class="course-container">
            <div class="course-card">
                <div>
                    <img [src]='course.image' style="width:220px; height:140px;">
                </div>
                <div class="course-name">
                    <h4>{{ course.name}}</h4>
                </div>
                <div class="course-description">
                    <p>{{course.description.slice(0, 40)}}...</p>
                </div>
                <div class="details">
                    <div class="course-type" [ngStyle]="{color: course.type === 'Free' ? 'Green' : 'Red'}">
                        {{course.type}}</div>
                    <div class="course-price"><b>Price:</b> ${{course.price}}</div>
                </div>
                <div class="course-buttons">
                    <button class="btn1">Buy Now</button>
                    <button class="btn2" routerLink="/Course/{{course.id}}">Show Deatils</button>
                </div>
            </div>
        </div>
    </ng-container>
</div>
<div class="about-line">
    <hr>
</div>